{% extends 'base.html' %}

<div class="container">
{% block content %}

<table class="table">
  {% for article in articles %}
  {% if forloop.first %}
  <thead>
    
    <tr>
      {% for head in article %}
      <th scope="col">{{ head }}</th>
    </tr>
    
  </thead>
  
  <tbody>
  {% else %}  
    <tr>
      <th scope="row">{{ forloop.counter0 }}</th>
      <td>{{ article.1 }}</td>
      <td>{{ article.2 }}</td>
      <td>{{ article.3 }}</td>
    </tr>
 
  {% endif %}
  {% endfor %}
 </tbody>
</table>

{% endblock %}

</div>