{% extends 'base.html' %}


{% block content %}


<div class="row">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://picsum.photos/200/300" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ article_0_0 }}</h5>
      <p class="card-text">{{ article_0_1 }}</p>
      <a href="#" class="btn btn-primary">Post Article</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://picsum.photos/200/300" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ article_1_0 }}</h5>
      <p class="card-text">{{ article_1_1 }}</p>
      <a href="#" class="btn btn-primary">Post Article</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://picsum.photos/200/300" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ article_2_0 }}</h5>
      <p class="card-text">{{ article_2_1 }}</p>
      <a href="#" class="btn btn-primary">Post Article</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://picsum.photos/200/300" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ article_3_0 }}</h5>
      <p class="card-text">{{ article_3_1 }}</p>
      <a href="#" class="btn btn-primary">Post Article</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://picsum.photos/200/300" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ article_4_0 }}</h5>
      <p class="card-text">{{ article_4_1 }}</p>
      <a href="#" class="btn btn-primary">Post Article</a>
    </div>
  </div>
  
</div>

 
{% endblock %}

