{% extends 'base.html' %}

{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Content</th>
      <th scope="col">Creation Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{ article_1_0 }}</td>
      <td>{{ article_1_1 }}</td>
      <td>{{ article_1_2 }}</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>{{ article_2_0 }}</td>
      <td>{{ article_2_1 }}</td>
      <td>{{ article_2_2 }}</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>{{ article_3_0 }}</td>
      <td>{{ article_3_1 }}</td>
      <td>{{ article_3_2 }}</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>{{ article_4_0 }}</td>
      <td>{{ article_4_1 }}</td>
      <td>{{ article_4_2 }}</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>{{ article_5_0 }}</td>
      <td>{{ article_5_1 }}</td>
      <td>{{ article_5_2 }}</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>{{ article_6_0 }}</td>
      <td>{{ article_6_1 }}</td>
      <td>{{ article_6_2 }}</td>
    </tr>
  </tbody>
</table>

{% endblock %}